*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(./cover-pic/72306428_800866517018127_7412051042411479040_n.jpg);
    background-repeat: no-repeat;
    display: flex;
    /* opacity: 0.6; */
    height:100vh;
    /* justify-content: center;
    align-items: center; */
    justify-content: end;
}
.img{
    border: 2px solid black;
    box-shadow:black 2px;
    display: flex;
    width: 200px;
    height: 200px;
}
h1{
    text-align: center;
    color:goldenrod ;
}
.about {
    display: flex;
    justify-content: space-between;
} 
.left{
    margin-left: 80px;
    margin-top:20px ;
}
.color{
    background-color: gray;
    color:white;
}
i{
    font-size: 30px;
    color: blue;
}